parameters:
    checkMissingIterableValueType: false
    level: 8
    paths:
        - ./
    excludes_analyse:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        -
            message: '#Else branch is unreachable because previous condition is always true\.#'
            path: %currentWorkingDirectory%/src/Zend/Service/ReCaptcha.php
