parameters:
    checkMissingIterableValueType: false
    level: 8
    bootstrapFiles:
        - ./phpstan-bootstrap.php
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        -
            message: '#Else branch is unreachable because previous condition is always true\.#'
            path: ./src/Zend/Service/ReCaptcha.php
        -
            message: '#Function mcrypt_encrypt not found\.#'
            path: ./src/Zend/Service/ReCaptcha/MailHide.php
            count: 1
