<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" beStrictAboutTestsThatDoNotTestAnything="true" backupGlobals="true" stderr="true" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" displayDetailsOnTestsThatTriggerDeprecations="true" displayDetailsOnTestsThatTriggerErrors="true" displayDetailsOnTestsThatTriggerNotices="true" displayDetailsOnTestsThatTriggerWarnings="true" failOnDeprecation="true" failOnNotice="true">
  <php>
    <const name="TESTS_ZEND_SERVICE_RECAPTCHA_ENABLED" value="false"/>
    <const name="TESTS_ZEND_SERVICE_RECAPTCHA_ONLINE_ENABLED" value="false"/>
    <const name="TESTS_ZEND_SERVICE_RECAPTCHA_PUBLIC_KEY" value="public key"/>
    <const name="TESTS_ZEND_SERVICE_RECAPTCHA_PRIVATE_KEY" value="private key"/>
    <const name="TESTS_ZEND_SERVICE_RECAPTCHA_MAILHIDE_PUBLIC_KEY" value="public mailhide key"/>
    <const name="TESTS_ZEND_SERVICE_RECAPTCHA_MAILHIDE_PRIVATE_KEY" value="private mailhide key"/>
  </php>
  <testsuites>
    <testsuite name="default">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
